<%= form_for(@chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
      <% @chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <center><%= f.label :user %><br></center>
    <center><%= f.text_field :user %></center>
  </div>

  <div class="field">
    <center><%= f.label :message %><br></center>
    <center><%= f.text_field :message %></center>
  </div>

  <div class="actions">
   <center><%= f.submit class:"btn btn-primary" %></center>
  </div>
<% end %>
